.App {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #147cc6;
box-shadow: 10px 3px 15px 0px  rgba(0, 0, 0, 0.621);
border-radius: 5px;

}
.App .titulo{
  background-color: #147cc6;
 padding: 2rem;
 margin-bottom: 2rem;
 border-radius: 15px;
 box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.53);
}
body{
 
  background-color: #147cc6;
}
.App h1{
  display: flex;
  justify-content: center;
  color: #f4f4f4;
}
.btAdd {
text-align: center;

}
.btAdd #btAdd , .Produtos button{
  background-color: #147cc6;
  color: #f4f4f4;
  border: 2px solid  #f4f4f453;
  border-radius: 5px;
  font-size: medium;
  padding: 8px 4px;
}
.btAdd #btAdd:hover ,  .Produtos button:hover{
  background-color:  #f4f4f4;
  color: #147cc6;
  border: 2px solid  #147cc6;
}
.Produtos-content{
  margin-top: 2rem;
  
}
.Produtos{
  display: flex;
justify-content: space-evenly;
align-items: center;
margin-top: 2rem;
color: #f4f4f4;

}
